/*header and body css*/
body{
	width:100%;
	
	background-color:white;
	font-family: "Arial","PingHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	font-size:16px;
}
/*总体央样式*/
@media screen and (max-width: 100px) {
#post-list{
	width:70%;
	margin:0 auto;
	background-color:white;
	padding-left:5%;
	padding-right:5%;
	padding-top:50px;
	padding-bottom:50px;
}
}
#post-list a{
	border:2px;
	position:float;
}

H1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    width: 98%;
    line-height: 150%;
    color: #666666;
}

H2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666;
}

H3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666;
}

.post-wrapper{
	display:block;
	width:75%;
	border:1px solid LightGrey;
	margin-top:20px;
	margin-bottom:10px;
	margin:10px auto;
	background-color:white;
	padding-left:5%;
	padding-right:5%;
	padding-top:50px;
	padding-bottom:50px;
}

.post-title{
	margin:0 auto;
}
.post-date{
	float:right;
}
.blog_list{
	width:70%;
	background-color:black;
	
}
.blog_list a{
	border:1px solid #000000;
	
}

.post-wrapper img { 
  /* 图片居中 */
  clear: both;
  margin: 0 auto;
  margin-top:10px;
  margin-bottom:10px;
  display: block;

  /* 添加图片阴影 */
  box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
  webkit-box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
  moz-box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
  o-box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}



/*部件的相关样式*/
a{
	text-decoration: none;
}

a:link {color: blue}?/* 未被访问的链接 蓝色 */
a:visited {color: blue}?/* 已被访问过的链接 蓝色 */
a:hover {color: blue}?/* 鼠标悬浮在上的链接 蓝色 */
a:active {color: blue} /* 鼠标点中激活链接 蓝色 */

/*
blockquote {
 width:100%;
 background-color: #eae6f3;
 border-left: 0.5em solid #8266f0;
 margin: 1.0em 0 1.0em;
 padding: 0.5em 0.5em 0.5em 0.5em;
 position: relative;
 color: #888;
}
blockquote a{
	text-decoration:none;
	
}
*/
/*
blockquote:before {
  color: #392570;
  content: "\201C";
  font-size: 5em;
  line-height: 0em;
  margin-right: 0em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #392570;
  content: "\201D";
  font-size: 5em;
  position:absolute;
  right:3px;
  bottom: 0em;
  line-height: 0.1em;
}
*/
h1{
	align:center;
}

code{
	
	font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;
	overflow:hidden;
	scroll:"no";
}

pre{
	counter-increment:none;
	tab-size: 4;
	font-size: 16px; 
	font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;
	color:black;
	border:1px solid #ccc;
	border-radius:3.5px;
	background-color:#fafafa;
	width:100%;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	overflow:auto;
	line-height:17px;
	overflow:hidden;
	scroll:"no";
	}

ol{
   list-style-type: none;
	
}
	/*
.highlight{
	background-color:#eee
	border-radius:10px;
	border:2px solid;
}
*/


/*footer*/
.footer-container{
	font-family: "PingHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	font-size:5px;
	margin:0,auto;
	
}
/*table 相关属性*/

/*
table{  
     margin:5px auto;  
     width:60%;  
     padding:5px;  
     }  
  th{  
     background-color:#76B7BC;  
     font-size:14px;  
     padding:5px;  
     }  
  .even td{
      background-color:#BCD7DA;  
      padding:5px 6px;  
      }  
    
  .odd td{  
      background-color:#FFF;;  
          padding:5px 6px;}  
*/
table{  
 margin:5px auto;  
 width:95%;  
 padding:5px; 
 font-family: "PingHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
 font-size:15px;
 }  
th{  
 background-color:#d0d0d0;  
 font-size:14px;  
 padding:5px;  
 }  
table tr:nth-child(even) {  
	background: #e5e5e5;  
}  
table tr:nth-child(odd) {  
	background: White;  
} 

/*
https://segmentfault.com/a/1190000008317350
如何更改数学公式的样式
*/
/*.MathJax span{font-size:15px;text-align: left;}
*/
.MathJax_Display{
	text-align:left;
	width:60%;
}
.MathJax_Display{overflow-x:auto;overflow-y:hidden;font-size:100%;text-align:left;}
.MathJax{font-size:100%}
